:root {
    --primer-color:#FEF9FF;
    --segundo-color: #D4C1EC;
    --tercer-color: #9F9FED;
    --cuarto-color: #736CED;
}

.contenedor_apartados {
    background: var(--primer-color);
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.apartado {
    background: var(--tercer-color);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    margin: 0px 0px 10px 0px;
}

.login {
    background: var(--segundo-color);
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}